{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
  <div class="row {{post_class}}">
    <a href="{{url}}">
          <div class="col-sm-1 featured-marker">
            {{#if featured}}
              ⭐
            {{/if}}
          </div>
          <div class="col-sm-3 col-xs-5">
            <time class="post-date" datetime="{{date format='MMMM Do'}}">{{date format="MMMM Do"}}</time>
          </div>
          <div class="col-sm-8 col-xs-7 post-header">
              <p class="post-title">{{title}}</p>
          </div>
    </a>
  </div>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{!-- pagination --}}
